# Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [10]:
#number which are divisible by 7 and not a multiple of 5
#intializing the loop between the numbers
for i in range (2000,3201):
    #conditions 
    if i % 7 == 0 and i% 5 != 0:
    #printing the result
        print(i,end = ",")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

# Write a Python program to accept the user's first and last name and then getting them printed in the the reverse order with a space between first name and last name.

In [11]:
# accepting users first name and last name from user and reversing the string

first_name = input ("Enter the first name ")
last_name = input("Enter the last name ")
space = " "

rev= first_name+space+last_name

reverse = rev[::-1]

print("The reverse of name is", reverse)

Enter the first name varun
Enter the last name shrivastava
The reverse of name is avatsavirhs nurav

# Write a Python program to find the volume of a sphere with diameter 12 cm.

In [34]:
#Write a Python program to find the volume of a sphere with diameter 12 cm.
#V=4/3 * Ï€ * r ^3

d = 12
r = d/2
pi = 3.14

vol = (4/3)*pi*(r*r*r)
print(vol)

904.3199999999999

# Write a program which accepts a sequence of comma-separated numbers from console and  generate a list.

In [43]:
#Write a program which accepts a sequence of comma-separated numbers from console and generate a list.

numbs = input("Enter the numbers using ',' to seprate ")

num =  numbs.split(",")

lstnumb =  list((num))

print(lstnumb)

list1 = []

for i in lstnumb:
    list1.append(int(i))
print(list1)

Enter the numbers using ',' to seprate 2,2322,222,55,5
['2', '2322', '222', '55', '5']
[2, 2322, 222, 55, 5]

# Create the below pattern using nested for loop in Python.

In [56]:
rows =  int(input("enter number"))
for i in range(0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("")
for i in range(rows,0,-1):
    for j in range (0,i - 1 ):
        print("*",end=' ')
    print("")

enter number8
*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

# Write a Python program to reverse a word after accepting the input from the user.

In [57]:
user_st = input("Enter the string")

reverse=user_st[::-1]

print(reverse)

Enter the stringvarun
nurav

# Write a Python Program to print the given string in the format specified in the sample output.

In [9]:
string = "WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens"
str = ''
words = string.split(" ")
for word in words:
    if(word == 'INDIA,'):
        str = str+word+'\n'+'\t'
    elif(word == 'SOVEREIGN,'):
        str = str+word+" "+"!"+'\n'+'\t'+'\t'
    elif(word == 'REPUBLIC'):
        str = str+word+'\n'+'\t'+'\t'+" "
    else:
        str = str+word
    
print(str)

WE,THEPEOPLEOFINDIA,
	havingsolemnlyresolvedtoconstituteIndiaintoaSOVEREIGN, !
		SOCIALIST,SECULAR,DEMOCRATICREPUBLIC
		 andtosecuretoallitscitizens